doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    // Mobile viewport optimized
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=no')
    // Meta Tags - Description for Search Engine purposes
    meta(name='description', content='Barrios | Get Started')
    meta(name='keywords', content='Template')
    meta(name='author', content='Jose Barrios')
    // Website Title
    title Barrios | Get started
    link(rel='shortcut icon', href='images/favicon.png', type='image/x-icon')
    link(rel='apple-touch-icon-precomposed', href='images/apple-touch-icon.png')
    // Google Fonts
    link(href='https://fonts.googleapis.com/css?family=Raleway:300,400,400i,700,800|Varela+Round', rel='stylesheet')
  body
    if error
      h1 Error: #{error}
        //USER ALREADY EXISTS
      if errorCode === 1
        p Try logging in
      if errorCode === 2
        p Send again
        form(action="/email/verify", method="post")
          input(type="hidden", name="_csrf", value=csrfToken)
          input(type="email", name="email")
          button#submitButton(type='submit') Create
    else
      h1 Hi, here's your validation code: #{validationCode}
      p Go here to validate your email: #{link}
