doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    // Mobile viewport optimized
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=no')
    // Meta Tags - Description for Search Engine purposes
    meta(name='description', content='Barrios | Get Started')
    meta(name='keywords', content='Template')
    meta(name='author', content='Jose Barrios')
    // Website Title
    title Barrios | Get started
    link(rel='shortcut icon', href='images/favicon.png', type='image/x-icon')
    link(rel='apple-touch-icon-precomposed', href='images/apple-touch-icon.png')
    // Google Fonts
    link(href='https://fonts.googleapis.com/css?family=Raleway:300,400,400i,700,800|Varela+Round', rel='stylesheet')
  body
      form(action="/user/create" method="post")
        input(type="hidden", name="_csrf", value=csrfToken)
        input(type="hidden", name="code", value=code)

        if !givenName
          label First Name
          input#givenName.form-control(name="givenName", type='text', placeholder="Jane", value=givenName)
          br
        else
          input#givenName.form-control(name="givenName", type='hidden', placeholder="Jane", value=givenName)

        if !familyName
          label Last Name
          input#familyName.form-control(name="familyName", type='text', placeholder="Smith", value=familyName)
          br
        else
          input#familyName.form-control(name="familyName", type='hidden', placeholder="Smith", value=familyName)

        if !email
          label Email
          input#email.form-control(name="email", type='email', placeholder="jane@greatcompany.com", value=email)
          br
        else
          input#email.form-control(name="email", type='hidden', placeholder="jane@greatcompany.com", value=email)

        label Password
        input#password.form-control(name="password", type='password', placeholder="•••••••••••••")
        br

        button#submitButton.btn.btn-red.btn-effect(type='submit') create account

      if errorMessage
        p#errorMessage #{errorMessage} Try a different email, or log in&nbsp
          a(href="#") here
