extends base

block vars
  - var title = 'Reset Password'
block body
    body.login
        .container
            form(method='post').form-signin
                input(type='hidden', name='_csrf', value=csrfToken)
                img#logo(src='images/cognilab.png', alt='cognilab')
                label.sr-only(for='inputEmail') Email address
                input.sole#inputEmail.form-control(name='email' type='email', placeholder='email@email.com', required=true, autofocus=true)
                br
                if !error && !success
                    button.btn.btn-lg.btn-primary.btn-block(type='submit') Send
                    br
                    p To reset your password, enter the email address you use to sign in to Cognilab
                if success
                    button.btn.btn-lg.btn-primary.btn-block(type='submit') Success
                    br
                    p.success.breath #{success}
                if error
                    button.btn.btn-lg.btn-primary.btn-block(type='submit') Send
                    br
                    p.error.shake #{error}
                    p
                        a(href=`/register?email=${email}`) You can register here

    //View controller
    script(src='javascripts/view_controllers/password-reset-view-controller.js')
