doctype html
html(lang='en')

  head
    title xxx | xxx
    meta(name='description', content='xxx')
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    link(rel='shortcut icon', href='/favicon.ico', type='image/x-icon')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    link(href='//fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css')
    link(href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' rel='stylesheet' type='text/css')

  body(style="background-color:white;padding:0px;margin:0px;font-family: 'Roboto', sans-serif;")
    //-h1 #{sortPrimary}
    //-button(onclick="window.location.href='/person/create'") ADD +
    div(onclick="window.location.href='/?sort=givenName'" style="width:calc(50% - 1px);background-color:gray;display:inline-block;border-right:1px solid #efefef;cursor:pointer")
      p(style="color:white;text-align:center;vertical-align: middle;line-height:22px;") First name
    div(onclick="window.location.href='/?sort=familyName'" style="width:50%;background-color:gray;display:inline-block;cursor:pointer")
      p(style="color:white;text-align:center;vertical-align: middle;line-height:22px;") Last Name
    div(style="height:11px;width:100%;")
      if sortPrimary === 'givenName'
        div(style="margin-left:calc(25% - 10px);width:0;height:0;border-left:10px solid transparent;border-right: 10px solid transparent;border-top: 10px solid gray;")
      if sortPrimary === 'familyName'
        div(style="margin-left:calc(75% - 10px);width:0;height:0;border-left:10px solid transparent;border-right: 10px solid transparent;border-top: 10px solid gray;")
    div(style="width:calc(100% - 22px);height:44px;padding-left:22px;padding-top:15px; padding-bottom:22px")
      span(class="fa fa-search" aria-hidden="true" style="position:absolute;padding:13px;color:#757575")
      input(id='searchInput' placeholder='Search contacts' style="padding:11px;padding-left:40px;width:calc(100% - 80px);border-radius:10px; border: 1px solid #e4e0e1;font-size:1em")
      span(id='deleteQueryButton' class="fa fa-times-circle" aria-hidden="true" style="position:absolute;margin-left:-25px;padding-top:13px;color:#757579")

    div(id='allResultsContainer')
      each person in people
        - let firstLetter = person[sortPrimary].charAt(0).toUpperCase();
        if alphabet.includes(firstLetter)
          - let charIndex = alphabet.indexOf(firstLetter);
          - let char = alphabet.splice(charIndex, 1);
          - alphabet = alphabet.filter(item => item !== char)
          p(style="font-weight:700;background-color:#f3f3f3;color:#000;padding:0.25em;padding-left:22px;width:calc(100% - 22px - 0.25em);font-size:1.5em;margin:0px;") #{char}
        div(id=person._id style="width:100%;background-color:white;border-bottom:1px solid #f3f3f3;cursor:pointer" class="person")
          span
            p(style="display:inline-block;font-size:1.5em;padding-left:22px;font-weight:700;") #{person[sortPrimary]}
            p(style="display:inline-block;font-size:1.5em;padding-left:10px;font-weight:300") #{person[sortSecondary]}
    div(id='filteredResultsContainer')


script.
  var people = !{JSON.stringify(people)}
  var search = !{JSON.stringify(search)}
  var person = document.querySelector('.person');
  var searchInput = document.querySelector('#searchInput');
  var deleteQueryButton = document.querySelector('#deleteQueryButton');
  var allResultsContainer = document.querySelector('#allResultsContainer');
  var filteredResultsContainer = document.querySelector('#filteredResultsContainer');

  console.log(person);

  deleteQueryButton.addEventListener('click', function(e){
    searchInput.value = '';
    var event = document.createEvent('Event');
    event.initEvent('input', true, true);
    searchInput.dispatchEvent(event);
  })

  //////////
  //SEARCH//
  //////////
  searchInput.addEventListener('input', function(e){
    filteredResultsContainer.innerHTML = null;

    if(e.target.value){
      allResultsContainer.style.display = 'none';
      filteredResultsContainer.style.display = 'initial';
    } else{
      allResultsContainer.style.display = 'initial';
      filteredResultsContainer.style.display = 'none';
    }

    let found = [];
    people.forEach(person => {
      var givenName = person.givenName.toLowerCase();
      var familyName = person.familyName.toLowerCase();
      let query = e.target.value.toLowerCase();
      let fullName = `${givenName} ${familyName}`;
      if(fullName.includes(query)){
        found.push(person)
      }
    })

    ///////////
    //RENDER//
    //////////
    if(found.length){
      found.forEach(result => {
        var pElem = document.createElement("P");
        var textNode = document.createTextNode(result.givenName+result.familyName);
        pElem.appendChild(textNode);
        filteredResultsContainer.appendChild(pElem);
      })
    }
    else{
      var pElem = document.createElement("P");
      var textNode = document.createTextNode('None found');
      pElem.appendChild(textNode);
      filteredResultsContainer.appendChild(pElem);
    }
  })

  searchInput.value = search;
  var event = document.createEvent('Event');
  event.initEvent('input', true, true);
  searchInput.dispatchEvent(event);
