doctype html
html(lang='en')

  head
    title xxx | xxx
    meta(name='description', content='xxx')
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    link(rel='shortcut icon', href='/favicon.ico', type='image/x-icon')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    link(href='//fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css' async)
    link(href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' rel='stylesheet' type='text/css' async)

  body(style="background-color:#e8ebf2;padding:0px;margin:0px;font-family:'Roboto',sans-serif;")

    //------
    //-ROLADEX PANNEL
    //-------
    //-div(style="display:inline-block;width:30%;min-width:320px;max-width:414px;height:100vh;border-right:1px solid #d7d8e1;overflow:scroll")

      //------
      //-HEADER
      //-------
      div(style="color:black;background-color:white;padding:11px;margin:0px;height:44px;font-weight:600")
        span(style="display:inline")
          button(id="addContactButton" style="color:#1679f4;font-size:2em;font-weight:500;background-color:white;border:0px solid black;float:right;margin-right:15px;") +
          p(style="text-align:center;vertical-align:middle;font-size:2em;line-height:44px;position:static;margin:0px;margin-left:44px") Contacts

      //------
      //-TABS
      //-------
      if sortPrimary === 'givenName'
        div(onclick="window.location.href='/?sort=givenName'" style="width:calc(50%);background-color:white;display:inline-block;border-bottom:3px solid #1679f4;cursor:pointer")
          p(style="color:white;text-align:center;vertical-align: middle;line-height:11px;background-color:white;color:#1679f4") First name
        div(onclick="window.location.href='/?sort=familyName'" style="width:calc(50%);background-color:white;display:inline-block;border-bottom:3px solid lightGray; cursor:pointer")
          p(style="color:white;text-align:center;vertical-align: middle;line-height:11px;color:gray;") Last Name
      if sortPrimary === 'familyName'
        div(onclick="window.location.href='/?sort=givenName'" style="width:calc(50%);background-color:white;display:inline-block;border-bottom:3px solid lightGray;cursor:pointer")
          p(style="color:white;text-align:center;vertical-align: middle;line-height:11px;background-color:white;color:gray") First name
        div(onclick="window.location.href='/?sort=familyName'" style="width:calc(50%);background-color:white;display:inline-block;border-bottom:3px solid #1679f4; cursor:pointer")
          p(style="color:white;text-align:center;vertical-align: middle;line-height:11px;color:#1679f4;") Last Name

      //------
      //-SEARCH
      //-------
      div(style="width:calc(100% - 22px);height:44px;padding-left:22px;padding-top:15px; padding-bottom:22px;background-color:white;position:relative")
        span(class="fa fa-search" aria-hidden="true" style="position:absolute;top:28px;left:40px;color:#757575")
        input(id='searchInput' placeholder='Search contacts' style="padding:11px;text-indent:30px;width:calc(100% - 50px);border-radius:10px; border: 1px solid #e4e0e1;font-size:1em")
        span(id='deleteQueryButton' class="fa fa-times-circle" aria-hidden="true" style="position:absolute;right:60px;top:28px;color:#757579")

      //------
      //-LIST
      //-------
      div(id='allResultsContainer')
        each person in people
          - let firstLetter = person[sortPrimary].charAt(0).toUpperCase();
          if alphabet.includes(firstLetter)
            - let charIndex = alphabet.indexOf(firstLetter);
            - let char = alphabet.splice(charIndex, 1);
            - alphabet = alphabet.filter(item => item !== char)
            p(style="font-weight:700;background-color:#f3f3f3;color:#000;padding:0.25em;padding-left:22px;width:calc(100% - 22px - 0.25em);font-size:1.5em;margin:0px;") #{char}
          div(id=person._id style="width:100%;background-color:white;border-bottom:1px solid #f3f3f3;cursor:pointer" class="person")
            span
              p(style="display:inline-block;font-size:1.5em;padding-left:22px;font-weight:700;") #{person[sortPrimary]}
              p(style="display:inline-block;font-size:1.5em;padding-left:10px;font-weight:300") #{person[sortSecondary]}
      div(id='filteredResultsContainer')

    //------
    //-CONTACT CARD
    //-------
    - let contact = people[0];
    div(style="display:inline-block;width:60%;margin-left:20%;margin-top:5%;padding-top:0px;border: 1px solid #d7d8e1;background-color:white")

      ////////
      //CONTACT
      /////////
      div(style="width:100%;padding:0px;margin:0px;background:#fbfaff;border-bottom:1px solid #f3f3f5")
        p(style="float:left;padding-top:33px;padding-left:44px;margin:0px;font-size:1.25em;color:#1c7ef8;") Done
        p(style="float:right;padding-top:33px;padding-right:44px;margin:0px;font-size:1.25em;color:#1c7ef8;") Edit
        h1(style="text-align:center;padding-top:66px;margin:0px;font-size:3em") #{people[0][sortPrimary]} #{people[0][sortSecondary]}
        p(style="text-align:center;padding-top:5px;margin:0px;font-size:1em;color:#6d6d6f;padding-bottom:11px;font-weight:300;") Updated 3 days ago
        //ACTIONS
        div(style="display: flex; justify-content: center;padding-bottom:66px;padding-top:11px;")
          div(style="background-color:#1c7ef8; height:4em; width:4em;border-radius:2em;margin:22px;margin-left:14px")
            span( class="fa fa-phone fa-2x" style="color:white;width:75%;height:75%;margin-top:0.55em;margin-left:0.62em;")
            p(style="text-align:center;padding:0px;margin-top:10px;color:#1c7ef8;font-family:'Roboto',sans-serif") home
          div(style="background-color:#1c7ef8; height:4em; width:4em;border-radius:2em;margin:22px;margin-left:18px")
            span( class="fa fa-mobile fa-3x" style="color:white;width:75%;height:75%;margin-top:0.16em;margin-left:0.455em;")
            p(style="text-align:center;padding-left:5px;margin-top:20px;color:#1c7ef8;font-family:'Roboto',sans-serif") mobile
          div(style="background-color:#1c7ef8; height:4em; width:4em;border-radius:2em;margin:18px;margin-right:14px")
            span( class="fa fa-envelope fa-2x" style="color:white;width:75%;height:75%;margin-top:0.5em;margin-left:0.5em;")
            p(style="text-align:center;padding-left:4px;margin-top:12px;color:#1c7ef8;font-family:'Roboto',sans-serif") email

      div(style="width:calc(100% - 132px); font-size:1.5em;padding:66px;padding-top:22px;padding-bottom:0px;margin:0px;background:white;")
        p home:
        p(style="color:#3989e0;") +1 (250) 588-8968
        div(style="border: 1px solid #f3f3f5")
        p mobile:
        p(style="color:#3989e0;") +1 (250) 588-8968
        div(style="border: 1px solid #f3f3f5")
        p email:
        p(style="color:#3989e0;") jose@barrios.io
        div(style="border: 1px solid #f3f3f5")

    //------
    //-EMERGENCY
    //-------
    - let emergencyContact = people[0].knows[0];
    div(style="display:inline-block;width:60%;margin-left:20%;margin-top:3%;margin-bottom:5%;padding-top:0px;border: 1px solid #d7d8e1;background-color:white")
      ////////
      //CONTACT
      /////////
      div(style="width:100%;padding:0px;height:4em;margin:0px;background:#fc3d39;")
        p(style="padding:0.5em;text-align:center;margin:0px;font-size:2em;color:white") EMERGENCY CONTACT
      div(style="width:100%;padding:0px;margin:0px;background:#fbfaff;border-bottom:1px solid #f3f3f5")
        p(style="float:left;padding-top:33px;padding-left:44px;margin:0px;font-size:1.25em;color:#fc3d39;") Done
        p(style="float:right;padding-top:33px;padding-right:44px;margin:0px;font-size:1.25em;color:#fc3d39;") Edit
        h1(style="text-align:center;padding-top:66px;margin:0px;font-size:3em") #{people[0].knows[0][sortPrimary]} #{people[0].knows[0][sortSecondary]}
        p(style="text-align:center;padding-top:5px;margin:0px;font-size:1em;color:#6d6d6f;padding-bottom:11px;font-weight:300;") Updated 3 days ago
        //ACTIONS
        div(style="display: flex; justify-content: center;padding-bottom:66px;padding-top:11px;")
          div(style="background-color:#fc3d39; height:4em; width:4em;border-radius:2em;margin:22px;margin-left:14px")
            span( class="fa fa-phone fa-2x" style="color:white;width:75%;height:75%;margin-top:0.55em;margin-left:0.62em;")
            p(style="text-align:center;padding:0px;margin-top:10px;color:#fc3d39;font-family:'Roboto',sans-serif") home
          div(style="background-color:#fc3d39; height:4em; width:4em;border-radius:2em;margin:22px;margin-left:18px")
            span( class="fa fa-mobile fa-3x" style="color:white;width:75%;height:75%;margin-top:0.16em;margin-left:0.455em;")
            p(style="text-align:center;padding-left:5px;margin-top:20px;color:#fc3d39;font-family:'Roboto',sans-serif") mobile
          div(style="background-color:#fc3d39; height:4em; width:4em;border-radius:2em;margin:18px;margin-right:14px")
            span( class="fa fa-envelope fa-2x" style="color:white;width:75%;height:75%;margin-top:0.5em;margin-left:0.5em;")
            p(style="text-align:center;padding-left:4px;margin-top:12px;color:#fc3d39;font-family:'Roboto',sans-serif") email

      div(style="width:calc(100% - 132px); font-size:1.5em;padding:66px;padding-top:22px;padding-bottom:0px;margin:0px;background:white;")
        p home:
        p(style="color:#fc3d39;") +1 (250) 588-8968
        div(style="border: 1px solid #f3f3f5")
        p mobile:
        p(style="color:#fc3d39;") +1 (250) 588-8968
        div(style="border: 1px solid #f3f3f5")
        p email:
        p(style="color:#fc3d39;") jose@barrios.io
        div(style="border: 1px solid #f3f3f5")



        //-for contact in person.knows
          p Emergency Contact: #{contact.givenName} #{contact.familyName}
          p Telephone: #{contact.telephone}
          p Email: #{contact.email}



script.
  var people = !{JSON.stringify(people)}
  var search = !{JSON.stringify(search)}
  var person = document.querySelector('.person');
  var searchInput = document.querySelector('#searchInput');
  var deleteQueryButton = document.querySelector('#deleteQueryButton');
  var allResultsContainer = document.querySelector('#allResultsContainer');
  var filteredResultsContainer = document.querySelector('#filteredResultsContainer');

  console.log(person);

  deleteQueryButton.addEventListener('click', function(e){
    searchInput.value = '';
    var event = document.createEvent('Event');
    event.initEvent('input', true, true);
    searchInput.dispatchEvent(event);
  })

  //////////
  //SEARCH//
  //////////
  searchInput.addEventListener('input', function(e){
    filteredResultsContainer.innerHTML = null;

    if(e.target.value){
      allResultsContainer.style.display = 'none';
      filteredResultsContainer.style.display = 'initial';
    } else{
      allResultsContainer.style.display = 'initial';
      filteredResultsContainer.style.display = 'none';
    }

    let found = [];
    people.forEach(person => {
      var givenName = person.givenName.toLowerCase();
      var familyName = person.familyName.toLowerCase();
      let query = e.target.value.toLowerCase();
      let fullName = `${givenName} ${familyName}`;
      if(fullName.includes(query)){
        found.push(person)
      }
    })

    ///////////
    //RENDER//
    //////////
    if(found.length){
      found.forEach(result => {
        var pElem = document.createElement("P");
        var textNode = document.createTextNode(result.givenName+result.familyName);
        pElem.appendChild(textNode);
        filteredResultsContainer.appendChild(pElem);
      })
    }
    else{
      var pElem = document.createElement("P");
      var textNode = document.createTextNode('None found');
      pElem.appendChild(textNode);
      filteredResultsContainer.appendChild(pElem);
    }
  })

  searchInput.value = search;
  var event = document.createEvent('Event');
  event.initEvent('input', true, true);
  searchInput.dispatchEvent(event);
